<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1596728410/rodrigo-abreu-Cj4CWKQllOM-unsplash_irtyky.jpg);">
  <div class="container">
    <h1>VINITY</h1>
    <p>Premium Wine</p>
    <div class= "button-banner">
    <%= link_to "Catalogo", wines_path, class: "btn btn-gradient" %>
    </div>
  </div>
</div>

<br>

<div>
  <h3>Somos 3 emprendedores colombianos y queremos poner a disposición de nuestros clientes los mejores vinos Argentinos, Californianos, Españoles e Italianos.</h3>
</div>

<br>
<br>

<div class="avatar-container">
  <div>
   <p>Simón Martinez</p>
   <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  </div>
  <div>
   <p>Camila Ghisays</p>
   <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-large", alt: "avatar-large" %>
  </div>
  <div>
   <p>Camila Fernandez</p>
   <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-large", alt: "avatar-large" %>
  </div>

</div>

<br>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Aca podemos poner links a instagram, facebook ect.
  </div>
</div>

