<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1596903729/sven-wilhelm-2cRXSWyMHA8-unsplash_eeq0pq.jpg);">
  <div class="container">
    <h1 id="banner-title">VINITY</h1>
    <p>For wine enthusiasts</p>
    <div class= "button-banner">
    <%= link_to "Catálogo", wines_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>

<div class="value-prop">
  <h3>Somos 3 emprendedores colombianos y queremos poner a disposición de nuestros clientes los mejores vinos Argentinos, Californianos, Españoles e Italianos.</h3>
</div>

<br>
<br>

<div class="avatar-container">
  <div class="avatar_details">
   <p>Simón Martínez</p>
   <%= image_tag "https://res.cloudinary.com/dlj1mjxjd/image/upload/v1596925338/vinity_k9gteu.jpg", class: "avatar-large", alt: "avatar-large", id: "avatar-founders" %>
  </div>
  <div class="avatar_details">
   <p>Camila Ghisays</p>
   <%= image_tag "https://res.cloudinary.com/dlj1mjxjd/image/upload/v1597516659/Vinity/cami_ghi_vinity_zd5vs7.jpg", class: "avatar-large", alt: "avatar-large", id: "avatar-founders" %>
  </div>
  <div class="avatar_details">
   <p>Camila Fernández</p>
   <%= image_tag "https://res.cloudinary.com/dlj1mjxjd/image/upload/v1597516204/Vinity/cami_fer_vinity_3_gcvxx0.jpg", class: "avatar-large", alt: "avatar-large", id: "avatar-founders" %>
  </div>

</div>



