<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1596728410/rodrigo-abreu-Cj4CWKQllOM-unsplash_irtyky.jpg);">
  <div class="container">
    <h1>VINITY</h1>
    <p>Premium Wine</p>
    <div class= "button-banner">
    <%= link_to "Catalogo", "#", class: "btn btn-gradient" %>
    </div>
  </div>
</div>


