#avatar-founders{
  width: 80px;
  height: 85px;
}

.avatar-large {
  width: 80px;
  border-radius: 50%;
}

.avatar-container{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
  color: rgb(100,100,100);
  font-size: 25px;
  padding-top: 50px;
  padding-right: 5%;
  padding-left: 5%;

  p{
    padding-right: 20px;
    text-align: center;
  }
}

.avatar_details{
  justify-content: center;
  img{
    justify-content: center;
    margin-left: 15px;
  }
  p {
    font-size: 15px;
  }
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

@media (min-width: 570px) {
 .avatar-large {
  width: 170px;
  border-radius: 50%;
}

.avatar_details{
  justify-content: center;
  img{
    justify-content: center;
  }
  p {
    font-size: 40px;
  }
}

.avatar-container{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
  color: rgb(100,100,100);
  font-size: 25px;
  padding-top: 50px;

  p{
    padding-right: 20px;
    text-align: center;
  }
}

#avatar-founders{
  width: 170px;
  height: 180px;
  margin-left: 50px;
}

}
