#wine-container {
  display: block;
}


.card-product-wine{
  width: 100%;
  padding-top: 50px;
}

.rating-photo{
  display: flex;
  width: 100%;
  background-color: #EFEDE8;
}


.card-product-information{
  height: 450px;
  background-color: #EFEDE8;
  width: 180px;
  text-align: center;
  padding-left:40px;
  padding-top: 70px;




  h2{
    font-size: 25px;
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    line-height: 1px;
  }
  p {
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Quattrocento', serif;
  }
  i{
    color: #781323;
    font-size: 20px;
  }

}

.wine-availability{
  text-align: right;
  padding-right: 5%;
  font-family: 'Quattrocento', serif;
}

.card-product-details{
  height: 195px;
  background-color: rgb(250,250,250);
  width: 100%;
  padding-top: 30px;


  h2{
    font-size: 20px;
    padding-left: 15px;

  }

  p{
    font-size: 12px;
    padding-left: 20px;
  }

  h3{
    padding-top: 10px;
    font-size: 15px;
    padding-left: 15px;
  }
}

.card-product-photo{
  padding-right: 48px;
  padding-top: 16px;
  width: 250px;
  background-color: #EFEDE8;
  position: relative;

 img {
  height: 480px;
  width: 130px;
  position: absolute;
  right: 20%;
  top: 20px;
}
}

.country-flag{
  display: flex;
}

.avatar-flag{
  width: 30px;
  padding-left: 15px;
  img{
    width: 15px;
    border-radius: 50%;
  }
}

.origin {
  p {
    font-size: 12px;
    padding-top: 6px;
    padding-left: 10px;
  }
}

.wine_style{
  font-size: 30px;
}

@media (min-width: 570px) {
    #wine-container {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
}
.card-product-details{
  height: 195px;
  background-color: rgb(250,250,250);
  width: 75%;
  padding-top: 30px;
}

.rating-photo{
  display: flex;
  width: 75%;
  background-color: #EFEDE8;
}

}

