.navbar{
  display: flex;
  height: 150px;
  background: #F4F4F4;
 justify-content: space-around;
}

.navbar-logo {
  width: 100px;
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

